################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/cameraoptimizations/.vs/VRFSCam/FileContentIndex/446a71f6-e833-4923-a621-2c8869c8e9be.vsidx
cameraoptimizations/.vs/VRFSCam/FileContentIndex/189a19bb-554c-4b01-b51e-211cf15b6e8e.vsidx
cameraoptimizations/.vs/VRFSCam/FileContentIndex/e74ff3de-f079-462d-bf1c-c3dc53cf4561.vsidx
/cameraoptimizations/.vs/VRFSCam/FileContentIndex
