################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


cameraoptimizations/.vs/VRFSCam/FileContentIndex

# Git was being incredibly annoying with these files
# Including them in .gitignore so I can make local changes and adjustments
# without breaking the whole project
# I don't want to have to include this but I'm going to lose my shit otherwise :P
VRFS_Camera_051/
cameraoptimizations/cameraoptimizations/VRFSCam.csproj
