################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/cameraoptimizations/.vs/VRFSCam/FileContentIndex/446a71f6-e833-4923-a621-2c8869c8e9be.vsidx
